/******** Color & Border ********/

html {
  background-image: url('../img/orb-cres.png'), url('../img/orb-step.png'), url('../img/building80-cube.jpg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-attachment: fixed, fixed, fixed;
  background-position: left, right, center;
  background-size: 17vw, 17vw, cover;
}

header,
footer,
main > article > section.key header,
main > article > section.title header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}


footer a:link, footer a:visited,
footer a:hover, footer a:active {
  color:#FFC8C5;
  text-shadow: 0px 0px 1px #F00;
}
footer a:hover, footer a:active {
  color:#FFF;
}
footer img {
    box-shadow:0px 0px 2px #FFC8C5;
}

body > header img {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.9));
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.9));
}

main > article > section header {
  background-color: rgba(200, 200, 200, 0.9);
  color: black;
}

nav,
main > article > section > section {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

nav > div:first-child span {
  background-color: rgba(0, 0, 0, 0.1);
}

nav > div:first-child span:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

nav > span {
  border-radius: 5px;
}

#search:invalid
{
  background-color: #fcc;
}

#zoom:invalid {
  background-image: url('../img/card-back-grey.png');
}

main > article > section {
  border: ridge 4px rgba(200, 200, 200, 0.7);
}

main > article > section blockquote {
  border: groove 4px #900;
}

main > article > section table {
  border: 2px rgba(200, 200, 200, 0.7) solid;
}

main > article > section table tr {
  border: 1px #CCC solid;
}

main > article > section th {
  background-color: rgba(200, 200, 200, 0.7);
}

main > article > section tr:nth-child(even) td {
  background-color: hsla(180, 100%, 95%, 0.25);
}

main > article > section tr:nth-child(odd) td {
  background-color: hsla(60, 100%, 95%, 0.25);
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  text-shadow: 1px 1px 2px rgba(127, 127, 127, 0.5);
}

/* repurposing the <em> tag for underlined text
   Justification: underlining is more like emphasing whereas italics is more like an alternative voice */

em {
  text-decoration: underline;
  font-style: normal;
}

/* Code,kbd and nested code,kbd styles */

code,
kbd {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 110%;
}

code {
  color:#22C;
  background-color: rgba(255,255,229,0.25);
  border: 1px #CCC solid;
}
pre code {
  border-left-width: 0.5em;  
}


kbd {
  color:#FF0;
  background-color: rgb(0,0,0);
  padding: 1px 0.5em;
}

pre kbd {
  padding:0.5em 0.8em;
  border: 3px inset #EEB;
  display:inline-block;
}

kbd span {
  color:#DDC;
}

code span {
  color:#B00;
}

.p {
  color:#80D;
}
code span span {
  color:#060;
}

code span span span {
  color:#A40;
}

.ob {
  border: thin orange dotted;
  box-sizing: border-box;
}


/* Color of each module slides: lecture, tutorial, labs and assignments */

article[id^="slides-lecture"] section header {
  background: linear-gradient(left, hsla(0, 85%, 90%, 1),  hsla(0, 85%, 90%, 1) 50%, hsla(0, 85%, 90%, 0.7));
  background:-webkit-linear-gradient(left, hsla(0, 85%, 90%, 1),  hsla(0, 85%, 90%, 1) 50%, hsla(0, 85%, 90%, 0.7));
  /* background-color: hsla(0, 85%, 90%, 0.85); */
}

article[id^="slides-lecture"] section.key header,
article[id^="slides-lecture"] section.title header {
  background: linear-gradient(left, hsla(0, 85%, 30%, 1),  hsla(0, 85%, 26%, 1) 50%, hsla(0, 85%, 26%, 0.7));
  background:-webkit-linear-gradient(left, hsla(0, 85%, 30%, 1),  hsla(0, 85%, 26%, 1) 50%, hsla(0, 85%, 26%, 0.7));
  /* background-color: hsla(0, 85%, 26%, 0.85); */
}

article[id^="slides-tute"] section header {
  background-color: hsla(120, 85%, 90%, 0.85);
}

article[id^="slides-tute"] section.key header,
article[id^="slides-tute"] section.title header {
  background-color: hsla(120, 85%, 26%, 0.85);
}

article[id^="slides-lab"] section header {
  background-color: hsla(190, 85%, 90%, 0.85);
}

article[id^="slides-lab"] section.key header,
article[id^="slides-lab"] section.title header {
  background-color: hsla(190, 85%, 26%, 0.85);
}

article[id^="slides-assignment"] section header {
  background-color: hsla(270, 85%, 90%, 0.85);
}

article[id^="slides-assignment"] section.key header,
article[id^="slides-assignment"] section.title header {
  background-color: hsla(270, 85%, 26%, 0.85);
}

article section.title section {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
}

article section.title section p {
  font-family: Museo-500, cursive;
  color: white;
  font-size: 250%;
}

.trev-tryit textarea {
  color:#ff3;
  background-color: #000;
  border:2px inset hsla(60, 93%, 35%, 1);
}


/* End Block */

.r,
a:link,
a:visited {
  color: #900;
}

.g {
  color:#060;
}

.bl {
  color: blue;
}

.sb {
  color: saddlebrown;
}

.w {
  color:white;
}

.x {
  text-decoration: line-through;
}

.u {
  text-decoration: underline;
}

.pd {
  padding:20px;
  display:inline-block;
  background-color: rgba(0,100,0,0.2);
}

.error {
  color:#900;
  margin-left:0.5em;
}

main section > p > img {
  box-shadow: 0px 0px 2px #999;
}

a:hover,
a:active {
  color: #F00;
}

div.modal-block {
  border: ridge 2px #999;
  background: #eee;
  border-radius: 5px;
  padding: 0.5em;
}

#overlayContent div:last-child {
  border-top: thin #666 solid;
}

canvas {
  box-shadow: 0px 0px 2px #840;
}

input[pattern]:invalid {
  border: 2px red solid;
  background-color:#faa;
}