/******** Print versions ********/

@media print {
  html, body {
    background: none;
    box-sizing: border-box;
  }
  nav,
  body > header,
  footer {
    display: none;
  }
  main > article {
    box-sizing: border-box;
  }
  main > article > section {
    margin: 0px;
    width: 100%;
    height: 100%;
    page-break-before: always;
    border: solid 2px #CCC; 
    background-color:#fff;
    box-sizing: border-box;
  }
  main > article > section:first-child {
    page-break-before: none;
  }
  main > article > section.title {
    background-color:#000;
  }
  main > article > section header {
    background-color: #CCC;
  }
  main > article > section.key header {
    background-color: #000;
  }
  main > article > section.title header {
    background-color: #000;
  }
  main > article > section main {
    vertical-align:middle;
  }
  main > article > section.title main {
    background: rgba(0,0,0,0);
  }

  /* modal-block currently over-flowing onto next page. Turning off for the moment. 
  .modal-block div:nth-child(2) {
    padding: 0.5em;
    border:thin dotted #ccc;
    margin: 0.5em 0;
    display:block;
    background: repeating-linear-gradient(
      45deg,
      #eee,
      #eee 5px,
      #fff 5px,
      #fff 10px
    );
  }
  
  .modal-block div:nth-child(2) div {
    display:none;
    page-break-after: always;
  }
  img {
    max-height:70mm;
  }

  */

}

@media print and (orientation: landscape) {
  main > article > section {
    min-height: 165mm;
  }
}

@media print and (orientation: portrait) {
  main > article > section {
    min-height: 252mm;
  }
}

/* Knockout styles for non-print media */
@media not print {
  figure {
    max-width:80%;
  }
}
