/* For testing and development */


/* Hack: box shadow deletes default slider image 
input[type=range] {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-color: #eef;
  border:thin solid #999
}
*/

